{% extends 'chat_feature/base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block body %}
<h2>Sign up</h2>
{% load static %}
  <form method="post" action="{% url 'chat_feature:sign-up' %}">
    {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="password" name="password1">
        <label>Confirm Password</label>
        <input type="password" name="password2">
        
    <button type="submit">Sign up</button>
  </form>
  
{% endblock %}